<!-- <input type="text" [value]="title" (input)="onInput($event)" />
<p>{{ title }}</p> -->
<input type="text" [(ngModel)]="title" />
<p>{{ title }}</p>
<!-- Two way binding, app.module.ts has import "FormsModule" -->
<button (click)="backgroundToogle = !backgroundToogle">Toogle!</button>
<div
  [ngStyle]="{
    width: '200px',
    height: '200px',
    borderRadius: '5px',
    border: '1px solid #ccc',
    background: backgroundToogle ? 'red' : 'blue'
  }"
></div>
<hr />
<p
  [ngClass]="{
    red: backgroundToogle,
    blue: !backgroundToogle
  }"
>
  Lorem ipsum dolor sit amet.
</p>
<p [class.blue]="backgroundToogle" [class.red]="!backgroundToogle">
  Lorem ipsum dolor sit amet.
</p>
<hr />
<button (click)="toogle = !toogle">Toogle!!!!!</button>
<p *ngIf="toogle" class="red">Lorem ipsum dolor sit amet.</p>
<p *ngIf="!toogle" class="blue">Lorem ipsum dolor sit amet.</p>
<hr />

<p *ngIf="toogle; else blueParagraph" class="red">
  Lorem ipsum dolor sit amet.
</p>
<ng-template #blueParagraph>
  <p class="blue">Lorem ipsum dolor sit amet.</p></ng-template
>
<hr />
<div [ngSwitch]="toogle">
  <p *ngSwitchCase="true" class="red">Lorem ipsum dolor sit amet.</p>
  <p *ngSwitchCase="false" class="blue">Lorem ipsum dolor sit amet.</p>
  <p *ngSwitchDefault>Lorem ipsum dolor sit.</p>
</div>
<hr />
<ul>
  <li *ngFor="let number of arr; let idx = index">
    {{ idx + 1 }}<strong>{{ number }}</strong>
  </li>
</ul>
